<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.money.store.openplatform.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.money.store.model.UmsUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="info" jdbcType="VARCHAR" property="info" />
        <result column="attend_count" jdbcType="INTEGER" property="attendCount" />
        <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
        <result column="activation" jdbcType="INTEGER" property="activation" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="upgrade_time" jdbcType="TIMESTAMP" property="upgradeTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, nickname, phone, email, status, create_time, icon, gender,
    birthday, province, city, address, info, attend_count, fans_count, activation, type,
    upgrade_time
  </sql>
    <insert id="insertAndPkToId" parameterType="com.money.store.model.UmsUser"
            keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into ums_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="attendCount != null">
                attend_count,
            </if>
            <if test="fansCount != null">
                fans_count,
            </if>
            <if test="activation != null">
                activation,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="upgradeTime != null">
                upgrade_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="attendCount != null">
                #{attendCount,jdbcType=INTEGER},
            </if>
            <if test="fansCount != null">
                #{fansCount,jdbcType=INTEGER},
            </if>
            <if test="activation != null">
                #{activation,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="upgradeTime != null">
                #{upgradeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateActivationStatus">
        update ums_user
        set activation = 1
        where username = #{username}
    </update>

    <update id="updatePasswordByPrimaryKey">
        update ums_user
        set password = #{newPassword}
        where id = #{id}
    </update>

    <update id="updateEmailByUsername">
        update ums_user
        set email = #{email}
        where username = #{username}
    </update>

    <select id="selectUserTypeByUsername" resultType="java.lang.Integer">
        select u.type from ums_user u where username = #{username}
    </select>

    <select id="selectActivationStatus" resultType="java.lang.Integer">
        select activation from ums_user where username = #{username}
    </select>


</mapper>