<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.money.store.mapper.AmsAppApplyRecordMapper">
  <resultMap id="BaseResultMap" type="com.money.store.model.AmsAppApplyRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="dev_id" jdbcType="BIGINT" property="devId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="audit_user" jdbcType="BIGINT" property="auditUser" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, dev_id, apply_date, audit_user, audit_date, result, description
  </sql>
  <select id="selectByExample" parameterType="com.money.store.model.AmsAppApplyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ams_app_apply_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_app_apply_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_app_apply_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.money.store.model.AmsAppApplyRecordExample">
    delete from ams_app_apply_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.money.store.model.AmsAppApplyRecord">
    insert into ams_app_apply_record (id, app_id, dev_id, 
      apply_date, audit_user, audit_date, 
      result, description)
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, #{devId,jdbcType=BIGINT}, 
      #{applyDate,jdbcType=TIMESTAMP}, #{auditUser,jdbcType=BIGINT}, #{auditDate,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.money.store.model.AmsAppApplyRecord">
    insert into ams_app_apply_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="devId != null">
        dev_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="auditUser != null">
        audit_user,
      </if>
      <if test="auditDate != null">
        audit_date,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="devId != null">
        #{devId,jdbcType=BIGINT},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=BIGINT},
      </if>
      <if test="auditDate != null">
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.money.store.model.AmsAppApplyRecordExample" resultType="java.lang.Integer">
    select count(*) from ams_app_apply_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ams_app_apply_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=BIGINT},
      </if>
      <if test="record.devId != null">
        dev_id = #{record.devId,jdbcType=BIGINT},
      </if>
      <if test="record.applyDate != null">
        apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditUser != null">
        audit_user = #{record.auditUser,jdbcType=BIGINT},
      </if>
      <if test="record.auditDate != null">
        audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.result != null">
        result = #{record.result,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ams_app_apply_record
    set id = #{record.id,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=BIGINT},
      dev_id = #{record.devId,jdbcType=BIGINT},
      apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      audit_user = #{record.auditUser,jdbcType=BIGINT},
      audit_date = #{record.auditDate,jdbcType=TIMESTAMP},
      result = #{record.result,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.money.store.model.AmsAppApplyRecord">
    update ams_app_apply_record
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="devId != null">
        dev_id = #{devId,jdbcType=BIGINT},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUser != null">
        audit_user = #{auditUser,jdbcType=BIGINT},
      </if>
      <if test="auditDate != null">
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.money.store.model.AmsAppApplyRecord">
    update ams_app_apply_record
    set app_id = #{appId,jdbcType=BIGINT},
      dev_id = #{devId,jdbcType=BIGINT},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      audit_user = #{auditUser,jdbcType=BIGINT},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>