<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.money.store.mapper.AmsAppVersionMapper">
  <resultMap id="BaseResultMap" type="com.money.store.model.AmsAppVersion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="apk_name" jdbcType="VARCHAR" property="apkName" />
    <result column="apk_size" jdbcType="VARCHAR" property="apkSize" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="version_name" jdbcType="VARCHAR" property="versionName" />
    <result column="version_number" jdbcType="VARCHAR" property="versionNumber" />
    <result column="sdk_version" jdbcType="VARCHAR" property="sdkVersion" />
    <result column="target_sdk_version" jdbcType="VARCHAR" property="targetSdkVersion" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="screen_size" jdbcType="VARCHAR" property="screenSize" />
    <result column="expenses" jdbcType="VARCHAR" property="expenses" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="copyright" jdbcType="VARCHAR" property="copyright" />
    <result column="online_date" jdbcType="TIMESTAMP" property="onlineDate" />
    <result column="offline_date" jdbcType="TIMESTAMP" property="offlineDate" />
    <result column="apply_user" jdbcType="BIGINT" property="applyUser" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="apply_record_id" jdbcType="BIGINT" property="applyRecordId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, name, apk_name, apk_size, package_name, version_name, version_number, 
    sdk_version, target_sdk_version, language, screen_size, expenses, price, logo, video, 
    pics, copyright, online_date, offline_date, apply_user, apply_time, apply_record_id
  </sql>
  <select id="selectByExample" parameterType="com.money.store.model.AmsAppVersionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ams_app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_app_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_app_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.money.store.model.AmsAppVersionExample">
    delete from ams_app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.money.store.model.AmsAppVersion">
    insert into ams_app_version (id, app_id, name, 
      apk_name, apk_size, package_name, 
      version_name, version_number, sdk_version, 
      target_sdk_version, language, screen_size, 
      expenses, price, logo, 
      video, pics, copyright, 
      online_date, offline_date, apply_user, 
      apply_time, apply_record_id)
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{apkName,jdbcType=VARCHAR}, #{apkSize,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{versionName,jdbcType=VARCHAR}, #{versionNumber,jdbcType=VARCHAR}, #{sdkVersion,jdbcType=VARCHAR}, 
      #{targetSdkVersion,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{screenSize,jdbcType=VARCHAR}, 
      #{expenses,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{logo,jdbcType=VARCHAR}, 
      #{video,jdbcType=VARCHAR}, #{pics,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, 
      #{onlineDate,jdbcType=TIMESTAMP}, #{offlineDate,jdbcType=TIMESTAMP}, #{applyUser,jdbcType=BIGINT}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{applyRecordId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.money.store.model.AmsAppVersion">
    insert into ams_app_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="apkName != null">
        apk_name,
      </if>
      <if test="apkSize != null">
        apk_size,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="versionName != null">
        version_name,
      </if>
      <if test="versionNumber != null">
        version_number,
      </if>
      <if test="sdkVersion != null">
        sdk_version,
      </if>
      <if test="targetSdkVersion != null">
        target_sdk_version,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="screenSize != null">
        screen_size,
      </if>
      <if test="expenses != null">
        expenses,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="pics != null">
        pics,
      </if>
      <if test="copyright != null">
        copyright,
      </if>
      <if test="onlineDate != null">
        online_date,
      </if>
      <if test="offlineDate != null">
        offline_date,
      </if>
      <if test="applyUser != null">
        apply_user,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="applyRecordId != null">
        apply_record_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="apkSize != null">
        #{apkSize,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null">
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="sdkVersion != null">
        #{sdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetSdkVersion != null">
        #{targetSdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="screenSize != null">
        #{screenSize,jdbcType=VARCHAR},
      </if>
      <if test="expenses != null">
        #{expenses,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="onlineDate != null">
        #{onlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offlineDate != null">
        #{offlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyUser != null">
        #{applyUser,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyRecordId != null">
        #{applyRecordId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.money.store.model.AmsAppVersionExample" resultType="java.lang.Integer">
    select count(*) from ams_app_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ams_app_version
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.apkName != null">
        apk_name = #{record.apkName,jdbcType=VARCHAR},
      </if>
      <if test="record.apkSize != null">
        apk_size = #{record.apkSize,jdbcType=VARCHAR},
      </if>
      <if test="record.packageName != null">
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.versionName != null">
        version_name = #{record.versionName,jdbcType=VARCHAR},
      </if>
      <if test="record.versionNumber != null">
        version_number = #{record.versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sdkVersion != null">
        sdk_version = #{record.sdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.targetSdkVersion != null">
        target_sdk_version = #{record.targetSdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.screenSize != null">
        screen_size = #{record.screenSize,jdbcType=VARCHAR},
      </if>
      <if test="record.expenses != null">
        expenses = #{record.expenses,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.video != null">
        video = #{record.video,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null">
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.copyright != null">
        copyright = #{record.copyright,jdbcType=VARCHAR},
      </if>
      <if test="record.onlineDate != null">
        online_date = #{record.onlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.offlineDate != null">
        offline_date = #{record.offlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyUser != null">
        apply_user = #{record.applyUser,jdbcType=BIGINT},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyRecordId != null">
        apply_record_id = #{record.applyRecordId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ams_app_version
    set id = #{record.id,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      apk_name = #{record.apkName,jdbcType=VARCHAR},
      apk_size = #{record.apkSize,jdbcType=VARCHAR},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      version_name = #{record.versionName,jdbcType=VARCHAR},
      version_number = #{record.versionNumber,jdbcType=VARCHAR},
      sdk_version = #{record.sdkVersion,jdbcType=VARCHAR},
      target_sdk_version = #{record.targetSdkVersion,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      screen_size = #{record.screenSize,jdbcType=VARCHAR},
      expenses = #{record.expenses,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      logo = #{record.logo,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      copyright = #{record.copyright,jdbcType=VARCHAR},
      online_date = #{record.onlineDate,jdbcType=TIMESTAMP},
      offline_date = #{record.offlineDate,jdbcType=TIMESTAMP},
      apply_user = #{record.applyUser,jdbcType=BIGINT},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      apply_record_id = #{record.applyRecordId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.money.store.model.AmsAppVersion">
    update ams_app_version
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        apk_name = #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="apkSize != null">
        apk_size = #{apkSize,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null">
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        version_number = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="sdkVersion != null">
        sdk_version = #{sdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetSdkVersion != null">
        target_sdk_version = #{targetSdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="screenSize != null">
        screen_size = #{screenSize,jdbcType=VARCHAR},
      </if>
      <if test="expenses != null">
        expenses = #{expenses,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        pics = #{pics,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null">
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="onlineDate != null">
        online_date = #{onlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offlineDate != null">
        offline_date = #{offlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyUser != null">
        apply_user = #{applyUser,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyRecordId != null">
        apply_record_id = #{applyRecordId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.money.store.model.AmsAppVersion">
    update ams_app_version
    set app_id = #{appId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      apk_name = #{apkName,jdbcType=VARCHAR},
      apk_size = #{apkSize,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      version_name = #{versionName,jdbcType=VARCHAR},
      version_number = #{versionNumber,jdbcType=VARCHAR},
      sdk_version = #{sdkVersion,jdbcType=VARCHAR},
      target_sdk_version = #{targetSdkVersion,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      screen_size = #{screenSize,jdbcType=VARCHAR},
      expenses = #{expenses,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      logo = #{logo,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      pics = #{pics,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      online_date = #{onlineDate,jdbcType=TIMESTAMP},
      offline_date = #{offlineDate,jdbcType=TIMESTAMP},
      apply_user = #{applyUser,jdbcType=BIGINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_record_id = #{applyRecordId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>