<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.money.store.mapper.UmsUserStatisticsInfoMapper">
  <resultMap id="BaseResultMap" type="com.money.store.model.UmsUserStatisticsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="download_amount" jdbcType="VARCHAR" property="downloadAmount" />
    <result column="consume_amount" jdbcType="DECIMAL" property="consumeAmount" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="attend_count" jdbcType="INTEGER" property="attendCount" />
    <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
    <result column="collect_app_count" jdbcType="INTEGER" property="collectAppCount" />
    <result column="collect_topic_count" jdbcType="INTEGER" property="collectTopicCount" />
    <result column="recent_download_time" jdbcType="TIMESTAMP" property="recentDownloadTime" />
    <result column="app_count" jdbcType="INTEGER" property="appCount" />
    <result column="on_sale_app_count" jdbcType="INTEGER" property="onSaleAppCount" />
    <result column="dev_downloaded_count" jdbcType="INTEGER" property="devDownloadedCount" />
    <result column="dev_login_count" jdbcType="INTEGER" property="devLoginCount" />
    <result column="recent_publish_time" jdbcType="TIMESTAMP" property="recentPublishTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, download_amount, consume_amount, order_count, comment_count, login_count, 
    attend_count, fans_count, collect_app_count, collect_topic_count, recent_download_time, 
    app_count, on_sale_app_count, dev_downloaded_count, dev_login_count, recent_publish_time
  </sql>
  <select id="selectByExample" parameterType="com.money.store.model.UmsUserStatisticsInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_statistics_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_user_statistics_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_user_statistics_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.money.store.model.UmsUserStatisticsInfoExample">
    delete from ums_user_statistics_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.money.store.model.UmsUserStatisticsInfo">
    insert into ums_user_statistics_info (id, user_id, download_amount, 
      consume_amount, order_count, comment_count, 
      login_count, attend_count, fans_count, 
      collect_app_count, collect_topic_count, recent_download_time, 
      app_count, on_sale_app_count, dev_downloaded_count, 
      dev_login_count, recent_publish_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{downloadAmount,jdbcType=VARCHAR}, 
      #{consumeAmount,jdbcType=DECIMAL}, #{orderCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, 
      #{loginCount,jdbcType=INTEGER}, #{attendCount,jdbcType=INTEGER}, #{fansCount,jdbcType=INTEGER}, 
      #{collectAppCount,jdbcType=INTEGER}, #{collectTopicCount,jdbcType=INTEGER}, #{recentDownloadTime,jdbcType=TIMESTAMP}, 
      #{appCount,jdbcType=INTEGER}, #{onSaleAppCount,jdbcType=INTEGER}, #{devDownloadedCount,jdbcType=INTEGER}, 
      #{devLoginCount,jdbcType=INTEGER}, #{recentPublishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.money.store.model.UmsUserStatisticsInfo">
    insert into ums_user_statistics_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="downloadAmount != null">
        download_amount,
      </if>
      <if test="consumeAmount != null">
        consume_amount,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="loginCount != null">
        login_count,
      </if>
      <if test="attendCount != null">
        attend_count,
      </if>
      <if test="fansCount != null">
        fans_count,
      </if>
      <if test="collectAppCount != null">
        collect_app_count,
      </if>
      <if test="collectTopicCount != null">
        collect_topic_count,
      </if>
      <if test="recentDownloadTime != null">
        recent_download_time,
      </if>
      <if test="appCount != null">
        app_count,
      </if>
      <if test="onSaleAppCount != null">
        on_sale_app_count,
      </if>
      <if test="devDownloadedCount != null">
        dev_downloaded_count,
      </if>
      <if test="devLoginCount != null">
        dev_login_count,
      </if>
      <if test="recentPublishTime != null">
        recent_publish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="downloadAmount != null">
        #{downloadAmount,jdbcType=VARCHAR},
      </if>
      <if test="consumeAmount != null">
        #{consumeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="loginCount != null">
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="attendCount != null">
        #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null">
        #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="collectAppCount != null">
        #{collectAppCount,jdbcType=INTEGER},
      </if>
      <if test="collectTopicCount != null">
        #{collectTopicCount,jdbcType=INTEGER},
      </if>
      <if test="recentDownloadTime != null">
        #{recentDownloadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCount != null">
        #{appCount,jdbcType=INTEGER},
      </if>
      <if test="onSaleAppCount != null">
        #{onSaleAppCount,jdbcType=INTEGER},
      </if>
      <if test="devDownloadedCount != null">
        #{devDownloadedCount,jdbcType=INTEGER},
      </if>
      <if test="devLoginCount != null">
        #{devLoginCount,jdbcType=INTEGER},
      </if>
      <if test="recentPublishTime != null">
        #{recentPublishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.money.store.model.UmsUserStatisticsInfoExample" resultType="java.lang.Integer">
    select count(*) from ums_user_statistics_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_user_statistics_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.downloadAmount != null">
        download_amount = #{record.downloadAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeAmount != null">
        consume_amount = #{record.consumeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCount != null">
        order_count = #{record.orderCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.loginCount != null">
        login_count = #{record.loginCount,jdbcType=INTEGER},
      </if>
      <if test="record.attendCount != null">
        attend_count = #{record.attendCount,jdbcType=INTEGER},
      </if>
      <if test="record.fansCount != null">
        fans_count = #{record.fansCount,jdbcType=INTEGER},
      </if>
      <if test="record.collectAppCount != null">
        collect_app_count = #{record.collectAppCount,jdbcType=INTEGER},
      </if>
      <if test="record.collectTopicCount != null">
        collect_topic_count = #{record.collectTopicCount,jdbcType=INTEGER},
      </if>
      <if test="record.recentDownloadTime != null">
        recent_download_time = #{record.recentDownloadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appCount != null">
        app_count = #{record.appCount,jdbcType=INTEGER},
      </if>
      <if test="record.onSaleAppCount != null">
        on_sale_app_count = #{record.onSaleAppCount,jdbcType=INTEGER},
      </if>
      <if test="record.devDownloadedCount != null">
        dev_downloaded_count = #{record.devDownloadedCount,jdbcType=INTEGER},
      </if>
      <if test="record.devLoginCount != null">
        dev_login_count = #{record.devLoginCount,jdbcType=INTEGER},
      </if>
      <if test="record.recentPublishTime != null">
        recent_publish_time = #{record.recentPublishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_user_statistics_info
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      download_amount = #{record.downloadAmount,jdbcType=VARCHAR},
      consume_amount = #{record.consumeAmount,jdbcType=DECIMAL},
      order_count = #{record.orderCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      login_count = #{record.loginCount,jdbcType=INTEGER},
      attend_count = #{record.attendCount,jdbcType=INTEGER},
      fans_count = #{record.fansCount,jdbcType=INTEGER},
      collect_app_count = #{record.collectAppCount,jdbcType=INTEGER},
      collect_topic_count = #{record.collectTopicCount,jdbcType=INTEGER},
      recent_download_time = #{record.recentDownloadTime,jdbcType=TIMESTAMP},
      app_count = #{record.appCount,jdbcType=INTEGER},
      on_sale_app_count = #{record.onSaleAppCount,jdbcType=INTEGER},
      dev_downloaded_count = #{record.devDownloadedCount,jdbcType=INTEGER},
      dev_login_count = #{record.devLoginCount,jdbcType=INTEGER},
      recent_publish_time = #{record.recentPublishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.money.store.model.UmsUserStatisticsInfo">
    update ums_user_statistics_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="downloadAmount != null">
        download_amount = #{downloadAmount,jdbcType=VARCHAR},
      </if>
      <if test="consumeAmount != null">
        consume_amount = #{consumeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="loginCount != null">
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="attendCount != null">
        attend_count = #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null">
        fans_count = #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="collectAppCount != null">
        collect_app_count = #{collectAppCount,jdbcType=INTEGER},
      </if>
      <if test="collectTopicCount != null">
        collect_topic_count = #{collectTopicCount,jdbcType=INTEGER},
      </if>
      <if test="recentDownloadTime != null">
        recent_download_time = #{recentDownloadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCount != null">
        app_count = #{appCount,jdbcType=INTEGER},
      </if>
      <if test="onSaleAppCount != null">
        on_sale_app_count = #{onSaleAppCount,jdbcType=INTEGER},
      </if>
      <if test="devDownloadedCount != null">
        dev_downloaded_count = #{devDownloadedCount,jdbcType=INTEGER},
      </if>
      <if test="devLoginCount != null">
        dev_login_count = #{devLoginCount,jdbcType=INTEGER},
      </if>
      <if test="recentPublishTime != null">
        recent_publish_time = #{recentPublishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.money.store.model.UmsUserStatisticsInfo">
    update ums_user_statistics_info
    set user_id = #{userId,jdbcType=BIGINT},
      download_amount = #{downloadAmount,jdbcType=VARCHAR},
      consume_amount = #{consumeAmount,jdbcType=DECIMAL},
      order_count = #{orderCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      login_count = #{loginCount,jdbcType=INTEGER},
      attend_count = #{attendCount,jdbcType=INTEGER},
      fans_count = #{fansCount,jdbcType=INTEGER},
      collect_app_count = #{collectAppCount,jdbcType=INTEGER},
      collect_topic_count = #{collectTopicCount,jdbcType=INTEGER},
      recent_download_time = #{recentDownloadTime,jdbcType=TIMESTAMP},
      app_count = #{appCount,jdbcType=INTEGER},
      on_sale_app_count = #{onSaleAppCount,jdbcType=INTEGER},
      dev_downloaded_count = #{devDownloadedCount,jdbcType=INTEGER},
      dev_login_count = #{devLoginCount,jdbcType=INTEGER},
      recent_publish_time = #{recentPublishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>